<tr id=<%= "curso_#{curso.id}" %>>
  <td><%= link_to curso.id, edit_curso_path(curso), :remote => true %></td>
  <td><%= curso.nombre %></td>
  <td><%= curso.ficha %></td>
  <td>
    <%= link_to 'Mostrar', curso_path(curso), :remote => true, :class => 'btn btn-mini btn-warning' %>
    <%= link_to 'Editar', edit_curso_path(curso), :remote => true,:class => 'btn btn-mini btn-success' %>
    <%= link_to 'Eliminar', curso, 
        :data => { :confirm => 'Esta Seguro?' },
        :method => :delete, :remote => true, :class => 'btn btn-mini btn-danger' %>
    <%= link_to "Estudiantes del curso '#{curso.nombre}' (#{curso.estudiantes(curso).count})", curso_estudiantes_path(curso), :class => 'btn btn-mini' %>    
  </td>
</tr> 

