<%- model_class = Materia -%>
<div class="page-header">
  <h1 id="ma">Materias</h1>
  <hr>
  <br>
  <%= form_tag request.path, :method => 'get' do %>
  <%= content_tag :label do %>
  Nombre Materias:
 <%= search_field_tag :search, params[:search], :placeholder => "nombre" %>
  <%= submit_tag "Consultar", :nombre => nil %>
  <% end %>
  <% end %>
<br />
</div>
<table class="table table-striped table-bordered table-condensed">
  <thead>
    <tr>
      <th><%= sortable 'id' %></th>
      <th><%= sortable 'nombre' %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
     <%= render @materias %>
  </tbody>
  <tfoot>
    <tr>
      <td><%= link_to 'Nueva Materia', new_materia_path, :remote => true, :class => 'btn btn-primary' %></td>
    </tr>
  </tfoot>
</table>
<div align="center">
<%= will_paginate @materias, :previous_label => '&laquo; Anterior', :next_label => 'Siguiente
&raquo;' %>
</div>
<p>
Total Materias : <%= @materias.total_entries %>
</p>
<hr>
Seleccione numero de registros por pagina:
<br>
<form id="myform" method='GET' action='materias' >
  <select name='limit' onchange='actualizar();'>
    <option value = '2'></option>
    <option value = '2'>2</option>
    <option value = '4'>4</option>
    <option value = '6'>6</option>
  </select>
</form>
